@require 'font'

centered-x()
	margin-left auto
	margin-right auto

margin-x(amount)
	margin-left amount
	margin-right amount

margin-y(amount)
	margin-top amount
	margin-bottom amount

grad-bg(color-a, color-b, angle=to bottom right)
	background linear-gradient(angle, color-a, color-b)

skale(amount)
	-ms-transform scale(2) // Internet Explorer
	-moz-transform scale(2) // Firefox
	-webkit-transform scale(2) // Safari
	-o-transform scale(2) // Opera


html, body
	margin 0
	height 100%

body
	grad-bg #aaa, #eee, -45deg
	background-repeat no-repeat
	background-attachment fixed
	margin 0
	height 100%

#hud
	centered-x()
	width 200px
	height 16px

#hud div, #hud button
	display inline-block

#playPauseButton button
	color red
#stopButton
	color green
#screenShotButton
	color blue

#frameRate
	font-face mono
	font-weight bold

	float right

#glContainer
	centered-x()

	margin-top 10px
	width 1000px
	height 500px

	border 1px solid black

#parameters
	width 1200px
	centered-x()
	border-radius 40px
	grad-bg #def8 #fed8

.subController
	display inline-block
	width 380px
	border-radius 20px
	margin-x 10px

.lightController
	@extends .subController

.onOffDiv
	centered-x()
	width 32px
	skale(2)


.layerController
	@extends .subController
	grad-bg #fed8 #def8


.controlTitle
	font-control-title()
	font-size 24px
	text-align center
	text-shadow 1px 1px white

.controlTitle[name='mesh']
	color #088

.controlTitle[name='layers']
	color #808

.controlTitle[name='lights']
	color #ff0
	text-shadow 1px 1px black

.controlTitle[name='stroke'] //.layerController .strokeTitle
	color #800

.controlTitle[name='hsl'] //.layerController .hslTitle
	color #080

.controlTitle[name='specular'] //.layerController .specularTitle
	color #008

.radioSelector
	centered-x()
	border-radius 10px
	grad-bg #ffff #fff8
	width 320px
	margin-y 6px
.radioSelector .single
	display inline-block
	width 80px
.radioSelector .single .button

.radioSelector .single .name
	font-size 14px
	vertical-align middle
	font-radio-option()

.controlPart
	vertical-align middle
	display inline-block

.rangeGroup
	grad-bg #fdd, #dff
	border-radius 8px
	width 350px
	centered-x()
	font-control()

.rangeLike
	vertical-align middle
	height 20px

.range
	@extends .rangeLike

.range .slider
	@extends .controlPart
	width 200px

.rangeRange
	@extends .rangeLike


.controlName
	@extends .controlPart
	color blue
	width 60px

.rangeRange .average
	@extends .controlPart
	width 100px

.rangeRange .variance
	@extends .controlPart
	width 80px

.readOut
	@extends .controlPart
	font-size 12px
	color sienna
