centered()
	margin-left auto
	margin-right auto

html, body
	margin 0
	height 100%

body
	background linear-gradient(to bottom right, #ddd, #aaa)

#hud
	width 200px
	height 24px

	centered()

#playPauseButton
	float left

#frameRate
	font-face mono
	font-weight bold

	float right

#glContainer
	centered()

	margin-top 10px
	width 400px
	height 300px
