centered-x()
	margin-left auto
	margin-right auto

margin-y(amount)
	margin-top amount
	margin-bottom amount

html, body
	margin 0
	height 100%

body
	background linear-gradient(to bottom right, #ddd, #aaa)

#hud
	centered-x()
	width 200px
	height 24px

#playPauseButton
	float left

#frameRate
	font-face mono
	font-weight bold

	float right

#glContainer
	centered-x()

	margin-top 10px
	width 400px
	height 300px

#parameters
	centered-x()

	width 400px
	border 1px solid black

.rangeRange
	centered-x()
	width 350px
	background-color pink
	margin-y 10px
	border 1px solid green
	vertical-align middle

.rangeRangePart
	vertical-align middle
	display inline-block

.rangeRange .name
	@extends .rangeRangePart
	color blue
	width 40px

.rangeRange .average
	@extends .rangeRangePart
	width 80px

.rangeRange .variance
	@extends .rangeRangePart
	width 80px

.rangeRange .readOut
	@extends .rangeRangePart
	color red
