doctype html
html
	head
		title Graphics Thingy
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='/script/index.js')
		link(rel='stylesheet', href='/style/index.css')

	body
		div#glContainer(width=400, height=300)
